.founder-card{
    margin: 50px 10vw;
    display: flex;
    align-items: center;
}

.founder-card img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, 0.2);
}

.founder-card div{
   padding: 20px 50px;
   color: white;
   border-radius: 20px;
}

.founder-card h2{
    margin-bottom: 20px;
}