.menu{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.logo{
    color: white;
}
.logo img{
    width: 100px;
}
.menu .a{
    color: white;
    text-decoration: none;
    padding: 10px 0;
    margin: 0 10px;
    font-weight: 500;
    font-size: 18px;
}
.menu .a:hover{
    border-bottom: 2px solid dodgerblue;
}

.active-link{
    text-decoration: none;
    padding: 10px 0;
    margin: 0 10px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid dodgerblue;
    color: dodgerblue;
}

.menubtn{
    color: white;
    text-decoration: none;
    font-weight: 500;
    border:2px solid dodgerblue;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
}

.menubtn:hover{
    background-color:#1e8fff20;
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 35px;
    padding: 20px;
}

.showondesktop{
    display: flex;
}

.menu-icon-container{
    display: none;
}

.bggray{
    background-color: #111;
}

@media screen and (max-width: 780px) {
    .menu {
        flex-direction: column;
        height: 90vh;
        justify-content: space-around;
        align-items: center;
        background-color: #111;
    }
    .menu .a,.menu .active-link{
        text-align: center;
    }
    .menu div{
        display: flex;
        flex-direction: column;
    }

    .menu-icon{
        display: block;
    }

    .logomenu{
        background-color: blue;
        display: none;
    }
    .showondesktop{
        display: none;
    }
    .menu-icon-container{
        display: flex;
        justify-content: space-between;
    }

}