.work-card{
    width: 45%;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(255, 255,255, 0.1);
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    border:1px solid rgba(30, 143, 255, 0.3);
}
.big-card{
    width: 90%;
}

.work-card .text{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
}
.work-card img{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
    flex: 1;
    height: 400px;
}

.big-img{
    height: 400px;
}
.work-card:hover .description{
    opacity: 1;
} 

.work-card .description{
    position: absolute;
    z-index: 10;
    background-color: rgba(30, 143, 255, 0.5);
    color: white;
    font-weight: 700;
    top: 43px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    transition: opacity 1s ease;
    opacity: 0;
    text-align: center;
}
