.about-why{
    color: white;
    margin: 0 5vw;
    
}

.about-why .container{
    display: flex;
    justify-content: space-between;
}

.about-why h1{
    margin-bottom: 10px;
}

.about-why h2{
    margin-bottom: 10px;
    color: #1e90ff;
    text-transform: uppercase;
}


.inner-container{
    padding: 10px 20px 10px 0;
}