.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.portfolio-inner-container{
    width: 30vw;
    height: 250px;
    min-width: 300px;
    overflow: hidden;
    margin: 10px;
    border:1px solid dodgerblue;
    border-radius: 10px;
}

.portfolio-inner-container img{
    width: 30vw;
    min-width: 300px;
    filter: grayscale(90%);
}

.portfolio .portfolio-container img:hover{
    filter: grayscale(0%);
}

.img-holder{
    height: 250px;
    overflow: none;
}
.more-btn{
    margin: 10px;
    text-align: center;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    padding: 5px 20px;
}

@media screen and (max-width: 450px) {
    .portfolio .portfolio-container img{
    width: 80vw;
}
}