
.portfolio-container{
    display: flex;
    justify-content: center;
}

.portfolio .portfolio-container img{
    width: 30vw;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 30px;
    filter: grayscale(90%);
    border:1px solid rgba(30, 143, 255, 0.3);
}

.portfolio .portfolio-container img:hover{
    filter: grayscale(0%);
}