.faqs{
    margin: 10vh 0;
}

.faq-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.faq{
    margin: auto;
    font-size: 18px;
}

.question{
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 94vw;
}

.answer{
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
    display: none;
    width: 94vw;
}
.question:hover, .active-question{
    border: 1px solid rgba(30, 143, 255, 0.3);
    background-color:  #1e8fff;
}
.active-answer{
    display: block;
}

.plus{
    cursor: pointer;
}