
*{
    box-sizing: border-box;
}
.valentine-diary{
    width: 100vw;
    min-height: 100vh;
    background-color: #CC1C46;
    color: white;
    font-family: 'Fredoka', sans-serif;
    /* font-family: monts; */
    font-size: 20px;
}

.valentine-diary section{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* absolute images started */

.valentine-diary  .heart{
  position: fixed;
  top: 0;
  left: 10vw;
  width: 20vw;
  opacity: 0.3;
  animation: scale 8s linear infinite;
}
.valentine-diary  .heart1{
  position: fixed;
  top: 60vh;
  left: 5vw;
  width: 10vw;
  opacity: 0.1;
  animation: scale 6s linear infinite;
}

.valentine-diary  .heart2{
  position: fixed;
  top: -10vh;
  right: 15vw;
  width: 20vw;
  opacity: 0.1;
  animation: scale 5s linear infinite;
}
.valentine-diary  .heart3{
  position: fixed;
  top: 70vh;
  right: 5vw;
  width: 15vw;
  opacity: 0.3;
  animation: scale 3s linear infinite;
}

.valentine-diary  .heart4{
  position: fixed;
  bottom: -20vh;
  left: 10vw;
  width: 20vw;
  opacity: 0.3;
  animation: scale 2s linear infinite;
}

.valentine-diary  .heart5{
  position: fixed;
  top: 15vh;
  left: 35vw;
  opacity: 0.2;
  animation: scale 8s linear infinite;
}

.valentine-diary  .heart6{
  position: fixed;
  top: -10vh;
  left: 25vw;
  width: 50vw;
  opacity: 0.2;
}


.valentine-diary  .ribbon{
  position: absolute;
  width: 100px;
  top: 10vh;
  transform: rotate(30deg);
  animation: bounce 2s linear infinite;
}
.valentine-diary  .ribbon1{
  position: absolute;
  width: 80px;
  top: 5vh;
  right:10vw;
  animation: bounce 2s linear infinite;
}
.valentine-diary .ribbon2{
 position: absolute;
  width: 100px;
  bottom: 10vh;
  right: 10vw;
  animation: bounce 2s linear infinite;
}

.valentine-diary .ribbon4{
 position: absolute;
  width: 100px;
  bottom: 15vh;
  left: 10vw;
  animation: bounce 2s linear infinite;
}
@keyframes scale {
      0%, 100% {
        transform:  scale(0.5);
      }
      50% {
        transform:  scale(1); 
      }
    }

@keyframes bounce {
      0%, 100% {
        transform: translateY(0); 
      }
      50% {
        transform: translateY(-20px); 
      }
    }
/* absolute images ended */


/* home */
#home{
    text-align: center;
    font-weight: 600;
     z-index: 999;
    position: relative;
}
#home .bold{
    font-size: 10vw;
    font-family: 'Rubik Moonrocks', sans-serif;
}


/* about */

#about{
    background-color: antiquewhite;
    color: #444;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#about div{
  max-width: 400px;
  margin: 0 30px;
}

#about img{
  width: 40vw;
  margin: 10px;
  opacity: 0.8;
  position: relative;
  z-index: 89;
}

.valentine-diary .container{
    flex: 1;
    padding: 10vh 10vw 0 10vw;
    /* min-width: 400px; */
    font-size: 20px;
     z-index: 999;
    position: relative;
}
.valentine-diary .inner-container{
    display: flex;
    flex-wrap: wrap;
}

#about .inner-container div{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 250px;
}

#about .bold{
    color: #CC1C46;
}

#about .emoji{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* features */
#features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 999;
    position: relative;
    justify-content: space-around;
}
#features img{
  width: 35vw;
  /* margin-right: 10vw; */
}
#features div{
  margin: 0 30px;
  max-width: 400px;
}

#features h2, #contact-us h2{
    color: antiquewhite;
}

#features .container{
    padding: 10vh 10vw;
}

/* plans */
#plans{
    background-color: antiquewhite;
    color: black;
    padding: 10px;
}
.plans-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plan-div{
    background-color: white;
    color:#444;
    z-index: 89;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 10px;
    max-width: 300px;
     border: 2px solid antiquewhite;
}
.plan-div:hover{
  border: 2px solid #CC1C46;
}

.plan-div div{
    padding: 10px;
}
.plan-div h3{
    font-weight: bold;
    text-align: center;
    color: #CC1C46;
    background-color: #CC1C46;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: uppercase;
}
#plans .subtitle{
  text-align: center;
}

.plan-div b{
    color: #CC1C46;
    font-weight: 100;
    font-size: 14px;
}

.plans .additionals{
    margin:0 0 0 0;
}

.buy{
  border:2px solid #CC1C46;
  padding: 5px 20px;
  border-radius: 10px;
  max-width: 200px
}
.fa-chevron-right{
  font-size: 14px;
}

.price{
  font-weight: bold;
  font-size: 30px;
}

/* contact-us */
#contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
     z-index: 999;
    position: relative;
}

#contact-us .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-us .inner-container{
    height: 300px;
    justify-content: center;
}
#contact-us .inner-container div{
    border: 2px solid antiquewhite;
    margin: 10px;
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
}
#contact-us .inner-container div:hover{
  background-color: antiquewhite;
  color: #444;
}
#contact-us button{
    color: white;
}

/* h2 */
.valentine-diary h2{
    color: #CC1C46;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Rubik Moonrocks', sans-serif;
}

/* footer */
.valentine-diary footer{
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
    color: #444;
    position: relative;
}


.go-to-veberszone a{
    color: white;
    background-color: transparent;
    position: absolute;
    top: 0;
    padding: 20px;
}


.contact_link{
  background-color: transparent;
}



@media screen and (max-width: 700px) {
  #about img{
    display: none;
  }
  #features img{
    display: none;
  }
}