.works{
    margin-top: 2rem;
    text-align: center;
}

.work-container{
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.more-project-btn{
    padding: 10px;
    font-size: 20px;
    width: 70%;
    border-radius: 10px;
    background-color: transparent;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}