.founder-card{
    margin: 50px 5vw;
    display: flex;
    align-items: center;
    background-color: #111;
}

.founder-card .img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    z-index: 2;
    transition: all 0.3s ease; 
}

.founder-card img:hover{
    transform:  scale(1.1);
}

.founder-card div{
   color: white;
   border-radius: 20px;
}
.founder-card h1{
    margin-left: 0;
}

.founder-card h2{
    margin: 5px 0 20px 0;
    text-transform: uppercase;
    color: dodgerblue;
    font-size: 14px;
}

.founder-card .img-container{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
}

.text-container{
    flex: 2;
    padding-left: 20px;
}