.testimonials{
    margin-top: 10vh;
}
.testimonial-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

@media screen and (max-width: 650px) {
    .testimonial-container{
        /* display: none; */
    }
}