.aboutInfo{
    color: white;
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

.aboutInfo .container{
    display: flex;
    width: 100%;
}

.aboutInfo h1{
    text-align: center;
}

@media screen and (max-width: 750px) {
    .out-description{
        display: none;
    }
}