.aboutInfo{
    color: white;
    margin: 50px 5vw;
}

.aboutInfo .container{
    display: flex;
    align-items: center;
}

.aboutInfo h1{
    font-size: 60px;
}

.aboutInfo h2{
    margin-bottom: 10px;
    color: dodgerblue;
    text-transform: uppercase;
    font-size: 14px;
}

.aboutInfo p{
    font-size: 18px;
}

.aboutInfo .img{
    height: 300px;
    margin: 50px 20px;
    border-radius: 10px;
}

.inner-container{
    flex: 1;
    padding: 30px;
}