.connect-btn{
    border: 2px solid dodgerblue;
    padding: 10px 20px;
    color: dodgerblue;
    border-radius: 30px;
    margin: 10px;
    width: fit-content;
}
.showOnMobile{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display:none;
}

@media screen and (max-width: 650px) {
#contact{
    width: 90%;
    margin: auto;
}
}