/* four color shades to be added */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
}

.page{
  min-height: 100vh;
  background-color: #161616;
  background-image: url("./assets/background.gif");
  background-size: contain;
}


.heading{
    color: white;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 50px;
}