/* four color shades to be added */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.page {
  min-height: 100vh;
  width: 100vw;
  background-color: #161616;
  background-image: url("https://res.cloudinary.com/dlksyxvtd/image/upload/v1706423658/vebers/va3ltcbtsqvzzshjalva.gif");
  background-size: contain;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 450px) {
  .hideOnMobile {
    display: none;
  }
  .showOnMobile {
    display: flex;
  }
}

.in-page {
  z-index: 3;
}

/* 3 font-sizes */
.heading {
  font-size: 90px;
  color: white;
  text-align: center;
}

.sub-heading {
  font-size: 60px;
   color: white;
   text-align: center;
}

.normal-text {
  font-size: 20px;
   color: white;
}

@media screen and (max-width: 450px) {
  .sub-heading {
    font-size: 30px;
  }
  .heading {
    font-size: 40px;
  }

  .normal-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) and (min-width: 450px) {
  .sub-heading {
    font-size: 40px;
  }
  .heading {
    font-size: 60px;
  }

  .normal-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 835px) and (min-width: 650px) {
  .sub-heading {
    font-size: 50px;
  }
  .heading {
    font-size: 70px;
  }
  .normal-text {
    font-size: 18px;
  }
}
