/* four color shades to be added */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.page{
  min-height: 100vh;
  width: 100vw;
  background-color: #161616;
  background-image: url("https://res.cloudinary.com/dlksyxvtd/image/upload/v1706423658/vebers/va3ltcbtsqvzzshjalva.gif") ;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.page::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 2;
}


.heading{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 5vw;
    margin: 25px 20px;
}


@media screen and (max-width: 450px) {
  .hideOnMobile{
    display: none;
  }
}

.in-page{
  z-index: 3;
}